*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  color: #1A3C59;
}

.content{
  width: 100%;
  background: red;
  position: relative;
}

.row{
  margin-top: 15px;
}

.modal-wrapper{
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.modal-inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 850px;
  height: 400px;
  background: white;
  border: 6px solid lightgrey;
  border-radius: 10px;
  background-image: url(../img/mac2x.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 95% 95%;
}

.modal-content{
  width: 54%;
  padding: 10px;
}

.modal-title{
  text-transform: uppercase;
  font-size: 25px;
}

.login label{
  display: block;
}

.login .input-line{
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid grey;
  font-size: 16px;
  line-height: 30px;
}

.login .input-link{
  border: 0;
  background: none;
  font-size: 18px;
  color: #62CE4E;
  cursor: pointer;
  line-height: 30px;
}

.login .input-link:hover,
.login .input-link:active,
.login .input-link:focus{
  color: #1A3C59;
}

/* .login .input-link-arrow{
  font-size: 24px;
  line-height: 30px;
} */

.login .button:after{
  display: inline-block;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: "\f0a9";
}
