/* Classi generali */
*{
  margin: 0;
  padding: 0;
}

body{
  background: grey;
  text-align: center;

}

/* Proprietà BoxSizing */
.content-box{
  width: 300px;
  margin: 20px;
  padding: 10px;
  border: 4px solid black;
  background: red;
  /* Quindi qual è la larghezza di questo div? */
}

.content-box div{
  background: white;
}


.border-box{
  box-sizing: border-box; /* Modifichiamo il box model, che succede? */
  width: 300px;
  margin: 20px;
  padding: 10px;
  border: 4px solid black;
  background: red;
}

.border-box div{
  background: white;
}


/* Proprietà Display */
.bg-green{
  background: green;
}

/* lo span è un elemento inline */
span{
  width: 100px;
  height: 80px; /* Che succede se aggiungiamo un'altezza?*/
  padding: 10px;
  background: lightgrey;
}

.container{
  width: 70%;
  margin: 0 auto;
  background: white;
}

.container p{
  margin: 20px;
}

.display-none{
  display: none;
}

.display-block{
  display: block;
}

.display-inline{
  display: inline;
  margin: 20px;
  height: 50px; /* Questa regola funziona? */
}

.display-inline-block{
  display: inline-block;
  margin: 20px;
  height: 50px;
}
